.login {
  position: relative;
  top: 20vh;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  border-style: ridge;
  border-width: 2px;
  border-color: rgb(182, 182, 182);;
  padding: 15px;
}

.todoitem {
  border: none;
  outline: none;
}

.header {
  border-bottom: solid 1px rgb(218, 218, 218) ;
}

.stick {
  overflow: hidden;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(218, 218, 218);
}

.list {
  margin-left: -1px;
  overflow-y:auto;
  overflow-x: hidden; 
  max-height: 295px;
  width: 400px;
  border-bottom: none;
}

.list-group-item {
  display: inline;  
}

.list-group-item:first-child{
  border-top:none ;
  border-top-left-radius: .0rem;
  border-top-right-radius: .0rem;
}

.list-group-item:last-child {
border-bottom-left-radius: .0rem;
border-bottom-right-radius: .0rem;
border-bottom: none;
}

.logout {
  position: absolute;
  top: 15px;
  right: 30px;
}

.container {
  overflow: hidden;
  margin-top: 25px;
  position: static;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 300px;
}

.todo-input {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  border: 0;
  border: none;
  border-bottom: 1px solid #ededed;
  background: rgba(0, 0, 0, 0.003);
  position: relative;
  margin: 0;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  outline: none;
  color: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  width: 400px;
}

.alert-div{
  display: flex;
  flex-wrap: wrap;
}

.alert {
  max-width:200px;
  height: 25px;
  font-size: 16px;
  padding-left: 13px;
  padding-top: 0rem;
  padding-right: 13px;
  padding-bottom: 0rem;
  margin-bottom: .4rem;
  margin-left: 13px;
  margin-right:13px;
}

.flex {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}

.close {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  position: static;
  right: 32px;
  opacity: 0.3;
  margin-right: 10px;
 }

.close:hover {
opacity: 1;
}

.close:before, .close:after {
right: 15px;
content: ' ';
height: 23px;
width: 2px;
background-color: #333;
}

.close:before {
transform: rotate(45deg);
}

.close:after {
transform: rotate(-45deg);
}
